/* styles.css - Challenge #1 (Skeleton) */

* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ebeef7;
}

.container {
  text-align: center;
  /* margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px; */

  /* top right bottom left*/
  margin: 20px auto 0px auto;
  max-width: 800px;
}


/* child selector */
.site-header > h1 {
  color: rgb(212, 7, 109);
  font-size: 3em;
}

.tagline {
  font-style: italic;
  color: gray;
}

.about {
  text-align: left;
  line-height: 1.5;
  margin-left: 20px;
  margin-right: 20px;
}

p {
  margin-top: 10px;
}

.mascot-placeholder {
  border: 2px solid rgb(74, 70, 70);
  background-color: white;
  width: 220px;
  height: 220px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

main {
  margin-top: 30px;
}

#mascot-image {
  height: 90%;
}

.hero {
  margin-bottom: 30px;
}

.buy-tickets {
  padding: 10px 14px;
  background-color: rgb(142, 208, 44);
  color: white;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgb(22, 193, 227);
  margin-right: 20px;
  transition: background-color 120ms ease, transform 80ms ease;
}

.buy-tickets:hover {
  background-color: rgb(74, 123, 1);
  transform: scale(1.1);
}

.make-donation {
  padding: 10px 14px;
  background-color: rgb(34, 59, 221);
  color: white;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgb(219, 36, 164);
  margin-right: 20px;
  transition: background-color 120ms ease, transform 80ms ease;
}

.make-donation:hover {
  background-color: rgb(2, 23, 107);
  transform: scale(1.1);
}

.site-footer {
  margin-top: 30px;
  border-top: 1px solid rgb(190, 189, 189);
  padding: 12px;
  color: grey
}