* {
    margin: 0;
    padding: 0;
}

#one {
    background-color: yellow;
    width: 50%; /* of the parent element */
    height: 80%;
}

.two {
    background-color: aqua;
    width: 600px;
    height: 400px;
}

#three {
    width: 500px;
    height: 320px;
    background-color: pink;
}

#justin-img {
    width: 80%;
}